* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

.cl-internal-nfscg9 {
  position: absolute;
  right: 0;
  margin: 12px;
}

.cl-internal-1j7ahlv {
  width: 42px;
  height: 42px;
}

button {
  height: 64px;
  width: 175px;
  border: none;
  border-radius: 10px;
  background: #504ED8;
  color: white;
  font-weight: 500;
  font-size: 18px;
  padding: 12px;
  text-align: center;
  margin: 16px;
}