.Input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.input-textarea {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-radius: 20px;
    border: none;
    margin-bottom: 16px;
    word-break: normal;
    font-size: 16px;
    resize: none;
    text-wrap: wrap;
    line-height: 24px;
}

.input-textarea textarea {
    width: 80vw;
    height: 24vh;
    border-radius: 16px;
    font-size: 16px;
    padding: 16px 16px 32px;
    background-color: #3d363f;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input-textarea textarea::placeholder {
    font-size: 16px;
}

.input-textarea label {
    margin: 12px;
    font-size: 16px;
    color: grey;
}

.right::placeholder {
    font-size: 16px;
}

.right {
    font-size: 16px;
    text-align: right;
}

.translate-button {
    height: 54px;
    width: 175px;
    border: none;
    border-radius: 10px;
    background: #504ED8;
    color: white;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.input-info {
    display: flex;
    justify-content: space-between;
}

.reset {
    visibility: hidden;
    height: 28px;
    width: 28px;
    margin: 8px;
}

.show {
    visibility: visible;
}

.character-count {
    font-size: 16px;
    color: grey;
    margin: 8px 12px;
    left: 0;
    bottom: 0;
}
