.Input {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.input-textarea {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 24vh;
    padding-top: 16px;
    padding-left: 16px;
    border-radius: 20px;
    border: none;
    margin-bottom: 16px;
    word-break: normal;
    font-size: 16px;
    resize: none;
}

.right::placeholder {
    font-size: 16px;
}

.right {
    font-size: 16px;
    text-align: right;
    padding-right: 16px;;
    padding-left: 0;
}

.translate-button {
    height: 50px;
    width: 140px;
    border: none;
    border-radius: 10px;
    background: #504ED8;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.reset {
    visibility: hidden;
    color: black;
    padding: 16px;
}

.show {
    visibility: visible;
}
