.Output {
    position: relative;
    width: 80vw;
    height: 28vh;
    border-radius: 20px;
    border: none;
    background-color: white;
    margin-bottom: 36px;
    overflow-y: scroll;
    font-size: 24px;
    line-height: 24px;
  }

 .dark .Output {
    background-color: #292323;
    color: white;
  }

.output-text {
    font-size: 16px;
    text-align: left;
    text-wrap: wrap;
    padding: 16px;
}

.output-text-dari {
    font-size: 24px;
    text-align: right;
    text-wrap: wrap;
    padding: 16px;
}

.buttons-container {
    position: absolute;
    /* bottom: 24px; */
    right: 52px;
}

.output-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.copy {
    margin-top: 8px;
    margin-right: 16px;
    width: 24px;
    height: 24px;
}

.speaker {
    margin-top: 8px;
    margin-right: 16px;
    width: 24px;
    height: 24px;
}

.AudioButton {
    display: flex;
}

.bookmark {
    height: 24px;
    width: 24px;
  }