.Output {
    width: 80vw;
    height: 24vh;
    padding-left: 16px;
    padding-top: 16px;
    border-radius: 20px;
    border: none;
    background: white;
    margin-bottom: 32px;
}

.output-text {
    font-size: 16px;
    text-align: left;
}

.output-text-dari {
    font-size: 24px;
    padding-top: 16px;
    text-align: right;
    padding-right: 16px;
    
}

.speech {
    float: left;
    margin-top: 8px;
    width: 24px;
    height: 24px;
}